/* navigation */
    #navbar{
        flex-direction: column;
    }
    #navbar ul li a{
        font-size: 1rem;
        padding: 0px 7px;
        padding-bottom: 6px;
    }
/* home */
    #home{
        flex-direction: column;
        height: 410px;
        padding: 3px 65px;
    }
    #home::before{
        height: 600px;
    }
/* services */
.services-container{
    margin-top: 25px;
}
    #services{
        flex-direction: column;
    }
/* client */
    #client{
        flex-wrap: wrap;
    }
    #client img{
        height: 65px;
    }
/* contact */
    #contact-box{
        width: 80%;
    }
/* footer */

/* utility class */
.h-primary{
    font-size: 25px;
}
.butn{
    font-size: 13px;
    padding: 4px 9px;
}